<div class="d-flex flex-column w-100 h-100  align-items-center justify-content-center ">

    <img class="mt-5" src="/images/logo.png" alt="">
    <h2 class="m-4">Crie sua conta, e venha pensar com a gente!</h2>
    <form method="post" action="register">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Seu nome</label>
            <input type="text" class="form-control" name="name" placeholder="Digite seu nome de usuário"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input type="email" class="form-control" name="email" placeholder="Digite seu email"
                aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca vamos compartilhar seu email com ninguem</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" placeholder="Insira sua senha" name="password" class="form-control">
        </div>
         <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirme sua senha</label>
            <input type="password" placeholder="Repita sua senha" name="confirmPassword" class="form-control">
        </div>

        <button type="submit" class="btn btn-warning w-100">Criar conta</button>
    </form>
</div>